body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.sysmsg {
	color: #fff;
    font-style:italic;
}

#content: {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#room {
	background-color: #ddd;
	margin-bottom: 1em;
}

#messages {
    witdh: auto;
	height: 300px;
	overflow: scroll;
	background-color: #eee;
	margin-bottom: 1em;
	margin-right: 10px;
}

#room-list {
    float: right;
    min-width: 100px;
    height: 300px;
    overflow: auto;
    background-color: #ddd;
}

#room-list div {
    border-bottom: 1px solid #eee;
}

#room-list div:hover {
    background-color: #ccc;
}

#send-message {
    width: 700px;
    margin-bottom: 1em;
    margin-right: 1em;
}

#help {
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

